pipeline/LoadSQLtoADLS.json
{
	"name": "LoadSQLtoADLS",
	"properties": {
		"activities": [
			{
				"name": "GetOnPremisesTables",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT \nQUOTENAME(t.name) as TableName\nQUOTENAME(SCHEMA_NAME(t.schema_id)) as SchemaName \nFROM sys.tables t",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "GenericTableForAzureSQL",
						"type": "DatasetReference",
						"parameters": {
							"logicalservername": {
								"value": "@pipeline().parameters.logicalservername",
								"type": "Expression"
							},
							"databasename": {
								"value": "@pipeline().parameters.databasename",
								"type": "Expression"
							}
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "LoopAllTables",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "GetOnPremisesTables",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GetOnPremisesTables').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "CopyOnPremises",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": {
										"value": "@concat('SELECT * FROM ', item().SchemaName,'.',item().TableName)",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "ParquetWriteSettings"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "GenericTableForAzureSQL",
									"type": "DatasetReference",
									"parameters": {
										"logicalservername": {
											"value": "@pipeline().parameters.logicalservername",
											"type": "Expression"
										},
										"databasename": {
											"value": "@pipeline().parameters.databasename",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DatalakeDestination",
									"type": "DatasetReference",
									"parameters": {
										"container": {
											"value": "@pipeline().parameters.container",
											"type": "Expression"
										},
										"path": {
											"value": "@concat(pipeline().parameters.databasename)",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"parameters": {
			"logicalservername": {
				"type": "string"
			},
			"databasename": {
				"type": "string"
			},
			"container": {
				"type": "string"
			}
		},
		"annotations": [],
		"lastPublishTime": "2022-06-30T20:25:34Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}